.listContainer{
    display:flex;
    flex-wrap: wrap;
    max-width: auto;
    height: 100%;
    margin: 0 auto; 
}

.listContainer img{
    width: 100px;
}


.container{
    display:flex;
    flex-direction: column;
}

